* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

button {
  cursor: pointer; }

ul {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none; }

body {
  font-family: 'a_futuricabslight', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  min-width: 480px;
  color: #000;
  background: #fff; }

.container {
  max-width: 1170px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  .container::after {
    content: "";
    display: block;
    width: 100%;
    clear: both; }
  @media (max-width: 1170px) {
    .container {
      padding: 0 15px; } }

header {
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8); }
  header .container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 18px 12px 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container a.logo {
      width: 143px;
      height: 35px;
      overflow: hidden; }
      header .container a.logo img {
        display: block;
        width: 100%;
        height: auto; }
    header .container .right {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .container .right a.editor {
        display: block;
        width: 76px;
        height: 36px;
        border: 1px solid #010101;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 13px;
        text-align: center;
        color: #010101;
        line-height: 14px;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-right: 28px; }
        header .container .right a.editor:hover {
          border-color: #b1cb45;
          color: #b1cb45; }
      header .container .right a.phone {
        display: block;
        width: 165px;
        position: relative;
        padding-left: 38px;
        font-size: 14px;
        font-family: 'comfortaabold';
        box-sizing: border-box;
        color: #000;
        margin-right: 24px;        
        text-align: right; }
        header .container .right a.phone::before {
          content: "";
          width: 35px;
          height: 35px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          background: url("../img/tel.png") no-repeat center;
          background-size: cover; }
      header .container .right a.instagram, header .container .right a.facebook {
        display: block;
        width: 28px;
        height: 28px; }
        header .container .right a.instagram:hover, header .container .right a.facebook:hover {
          opacity: 0.8; }
        header .container .right a.instagram img, header .container .right a.facebook img {
          display: block;
          width: 100%;
          height: auto; }
      header .container .right a.instagram {
        margin-right: 17px; }
    @media (max-width: 580px) {
      header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 12px 15px; }
        header .container a.logo {
          margin-bottom: 20px; } }

section.main .main-photo {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px; }
  section.main .main-photo .image {
    max-height: 660px;
    overflow: hidden;
    position: relative; }
    section.main .main-photo .image img {
      display: block;
      width: 100%;
      height: auto; }
  section.main .main-photo h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
    font-family: 'a_futuricabslight';
    text-align: center;
    font-weight: normal;
    padding: 18px 0; }
    @media (max-width: 1170px) {
      section.main .main-photo h1 {
        font-size: 25px;
        padding: 15px 10px; } }

section.main .slider {
  border-bottom: 1px solid #c4bdb1;
  border-top: 1px solid #c4bdb1;
  position: relative; }
  section.main .slider::before {
    content: "";
    width: 100%;
    background: rgba(128, 110, 76, 0.5);
    height: 61px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20; }
  section.main .slider .slide {
    max-height: 580px;
    overflow: hidden; }
    section.main .slider .slide img {
      display: block;
      width: 100%;
      height: auto; }
  section.main .slider .slick-next, section.main .slider .slick-prev {
    position: absolute;
    bottom: 12px;
    font-size: 0;
    border: none;
    width: 20px;
    height: 37px;
    z-index: 30; }
  section.main .slider .slick-next {
    right: 20px;
    background: url("../img/arrow-next.png") no-repeat center;
    background-size: cover; }
  section.main .slider .slick-prev {
    left: 20px;
    background: url("../img/arrow-prev.png") no-repeat center;
    background-size: cover; }

section.main .dots-container {
  padding: 16px 0 19px;
  background: #fef7ee; }
  section.main .dots-container ul {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.main .dots-container ul li {
      margin: 0 12px; }
      section.main .dots-container ul li button {
        font-size: 0;
        border: none;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #acacac; }
    section.main .dots-container ul .slick-active button {
      width: 12px;
      height: 12px;
      background: #9ec01b; }

section.main .motivation {
  background: #fef7ee;
  padding-bottom: 49px; }
  section.main .motivation p {
    text-align: center;
    color: #636364;
    font-size: 21px;
    line-height: 25px;
    max-width: 540px;
    margin: 0 auto; }
    section.main .motivation p span {
      display: block;
      color: #000; }
    @media (max-width: 570px) {
      section.main .motivation p br {
        display: none; } }

section.main .popular-photobook {
  margin-bottom: 42px;
  background: url("../upload/popular.png") no-repeat center;
  background-size: cover; }
  section.main .popular-photobook h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
    font-family: 'a_futuricabslight';
    text-align: center;
    font-weight: normal;
    padding: 12px 0;
    margin-bottom: 28px; }
    @media (max-width: 1170px) {
      section.main .popular-photobook h2 {
        font-size: 30px; } }
  section.main .popular-photobook h3 {
    font-size: 23px;
    color: #281b10;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-bottom: 28px; }
  section.main .popular-photobook .inner {
    box-sizing: border-box;
    padding: 18px 0 26px;
    background: rgba(254, 247, 238, 0.5); }
    section.main .popular-photobook .inner .container {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section.main .popular-photobook .inner .container .image {
        width: 65%;
        box-sizing: border-box;
        padding: 0px 20px;
        height: 358px;
        overflow: hidden;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        section.main .popular-photobook .inner .container .image img {
          display: block;
          max-width: 100%;
          height: auto; }
      section.main .popular-photobook .inner .container .description {
        width: 35%;
        box-sizing: border-box;
        padding-right: 100px; }
        @media (max-width: 1170px) {
          section.main .popular-photobook .inner .container .description {
            padding: 0; } }
        section.main .popular-photobook .inner .container .description h4 {
          font-size: 25px;
          text-transform: uppercase;
          font-weight: normal;
          color: #000;
          text-align: center;
          margin-bottom: 18px; }
        section.main .popular-photobook .inner .container .description p {
          color: #636364;
          font-size: 17px;
          line-height: 21px;
          margin-bottom: 41px;
          height: 208px;
          overflow: hidden;
          padding-right: 7px;
          letter-spacing: 0.2px; }
          @media (max-width: 1023px) and (min-width: 767px) {            
            section.main .popular-photobook .inner .container .description p {
              font-size: 14px;
              line-height: 18px; } }
        section.main .popular-photobook .inner .container .description span.price {
          display: inline-block;
          background: #ff8b38;
          border-radius: 10px;
          font-size: 49px;
          line-height: 1;
          color: #fff;
          padding: 5px 11px; }
      @media (max-width: 767px) {
        section.main .popular-photobook .inner .container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          section.main .popular-photobook .inner .container .image {
            width: 100%;
            margin-bottom: 10px; }
          section.main .popular-photobook .inner .container .description {
            width: 100%;
            text-align: center; }
            section.main .popular-photobook .inner .container .description p {
              margin-bottom: 20px;
              height: 170px; } }
  section.main .popular-photobook .popular-slider .slide {
    cursor: pointer;
    position: relative; }
    section.main .popular-photobook .popular-slider .slide::before {
      content: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
    section.main .popular-photobook .popular-slider .slide:hover::before {
      content: ""; }
    section.main .popular-photobook .popular-slider .slide img {
      display: block;
      width: 100%;
      height: auto; }
    section.main .popular-photobook .popular-slider .slide .goToUp {
      display: none;
      visibility: hidden; }
  section.main .popular-photobook .popular-slider .slick-next, section.main .popular-photobook .popular-slider .slick-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    width: 20px;
    height: 40px;
    z-index: 30; }
  section.main .popular-photobook .popular-slider .slick-next {
    right: 20px;
    background: url("../img/arrow-next.png") no-repeat center;
    background-size: cover; }
  section.main .popular-photobook .popular-slider .slick-prev {
    left: 20px;
    background: url("../img/arrow-prev.png") no-repeat center;
    background-size: cover; }

section.main .easy-photobook {
  margin-bottom: 37px; }
  section.main .easy-photobook h2 {
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
    font-family: 'a_futuricabslight';
    text-align: center;
    font-weight: normal;
    padding: 8px 0;
    margin-bottom: 40px; }
    @media (max-width: 1170px) {
      section.main .easy-photobook h2 {
        font-size: 30px; } }
  section.main .easy-photobook .container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.main .easy-photobook .container .left, section.main .easy-photobook .container .right {
      width: 49.74%; }
      section.main .easy-photobook .container .left:hover, section.main .easy-photobook .container .right:hover {
        opacity: 0.8; }
      section.main .easy-photobook .container .left .image, section.main .easy-photobook .container .right .image {
        width: 100%;
        max-height: 318px;
        overflow: hidden;
        position: relative; }
        section.main .easy-photobook .container .left .image img, section.main .easy-photobook .container .right .image img {
          display: block;
          width: 100%;
          height: auto; }
        section.main .easy-photobook .container .left .image span.discount, section.main .easy-photobook .container .right .image span.discount {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 12px 11px;
          color: #fff;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 1;
          background: url("../img/discount.png") no-repeat center;
          background-size: cover; }
      section.main .easy-photobook .container .left h3, section.main .easy-photobook .container .right h3 {
        color: #2e1f14;
        font-size: 25px;
        line-height: 1;
        text-align: center;
        font-weight: normal;
        background: #fbebd5;
        padding: 24px 0; }
        @media (max-width: 1170px) {
          section.main .easy-photobook .container .left h3, section.main .easy-photobook .container .right h3 {
            font-size: 20px; } }
        @media (max-width: 1023px) {
          section.main .easy-photobook .container .left h3, section.main .easy-photobook .container .right h3 {
            font-size: 16px; } }
    @media (max-width: 767px) {
      section.main .easy-photobook .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.main .easy-photobook .container .left, section.main .easy-photobook .container .right {
          width: 100%; }
          section.main .easy-photobook .container .left .image, section.main .easy-photobook .container .right .image {
            max-height: 362px; }
          section.main .easy-photobook .container .left h3, section.main .easy-photobook .container .right h3 {
            font-size: 22px; }
        section.main .easy-photobook .container .left {
          margin-bottom: 20px; } }

section.main .prices-block {
  margin-bottom: 66px; }
  @media (max-width: 1170px) {
    section.main .prices-block .container {
      padding: 0; } }
section.main .prices-block h2 {
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
    font-family: 'a_futuricabslight';
    text-align: center;
    font-weight: normal;
    padding: 8px 0;
    margin-bottom: 40px; }
    @media (max-width: 1170px) {
      section.main .prices-block h2 {
        font-size: 30px; } }
  section.main .prices-block .tabslet .horizontal {
    margin-bottom: 33px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.main .prices-block .tabslet .horizontal li {
      width: 24%;
      background: #b1cb45; }
      section.main .prices-block .tabslet .horizontal li:hover {
        background: #ff8b38; }
      section.main .prices-block .tabslet .horizontal li.active {
        background: #ff8b38; 
      }
      section.main .prices-block .tabslet .horizontal li a {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        display: block;
        width: 100%;
        text-align: center;
        padding: 14px 0px;
        line-height: 1; }
  section.main .prices-block .tabslet .tab {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.main .prices-block .tabslet .tab .left {
      width: 467px;
      margin-top: 11px;
      margin-left: 43px; }
      section.main .prices-block .tabslet .tab .left .image {
        width: 100%;
        height: 305px;
        overflow: hidden; }
        section.main .prices-block .tabslet .tab .left .image img {
          display: block;
          width: 100%;
          height: auto; }
      section.main .prices-block .tabslet .tab .left span.price {
        display: block;
        width: 100%;
        padding: 14px 0px;
        background: #ff8b38;
        color: #fff;
        text-align: center;
        font-size: 52px;
        line-height: 1;
        -webkit-border-bottom-right-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-radius-bottomright: 15px;
        -moz-border-radius-bottomleft: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px; }
    section.main .prices-block .tabslet .tab .right {
      width: 607px;
      box-sizing: border-box;
      padding: 0 27px 0 0; }
      section.main .prices-block .tabslet .tab .right h4 {
        font-size: 28px;
        color: #000;
        font-weight: normal;
        text-align: center;
        line-height: 1;
        margin-bottom: 4px; }
      section.main .prices-block .tabslet .tab .right .inner {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        padding-right: 18px;
        margin-bottom: 21px; }
        section.main .prices-block .tabslet .tab .right .inner .column {
          width: 33.3333%; }
          section.main .prices-block .tabslet .tab .right .inner .column .format {
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            height: 147px;
            margin-bottom: 23px; }
            section.main .prices-block .tabslet .tab .right .inner .column .format .box {
              box-sizing: border-box;
              /*border: 2px solid #000;*/
              background: #dbdbdb;
              margin: 0 auto; }
          section.main .prices-block .tabslet .tab .right .inner .column .form-row input {
            display: none;
            opacity: 0;
            position: absolute; }
          section.main .prices-block .tabslet .tab .right .inner .column .form-row input:not(checked) + label {
            position: relative;
            font-size: 24px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            color: #000;
            padding-left: 57px;
            cursor: pointer;
            margin-bottom: 28px; }
            section.main .prices-block .tabslet .tab .right .inner .column .form-row input:not(checked) + label:last-child {
              margin-bottom: 0; }
            section.main .prices-block .tabslet .tab .right .inner .column .form-row input:not(checked) + label::before {
              content: "";
              width: 31px;
              height: 31px;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 0;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              background: #c0c0c0; }
          section.main .prices-block .tabslet .tab .right .inner .column .form-row input:checked + label::before {
            background: #408b22; }
          section.main .prices-block .tabslet .tab .right .inner .column.col-1 .format .box {
            width: 103px;
            height: 147px; }
          section.main .prices-block .tabslet .tab .right .inner .column.col-2 .format .box {
            width: 147px;
            height: 87px; }
          section.main .prices-block .tabslet .tab .right .inner .column.col-3 .format .box {
            width: 116px;
            height: 116px; }
      section.main .prices-block .tabslet .tab .right .pages h5 {
        text-align: center;
        font-weight: normal;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 8px; }
      section.main .prices-block .tabslet .tab .right .pages .range {
        width: 430px;
        margin: 0 auto; }
        /*section.main .prices-block .tabslet .tab .right .pages .range .irs-grid-pol.small {
          display: none; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-min, section.main .prices-block .tabslet .tab .right .pages .range .irs-max {
          display: none; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-grid-pol {
          height: 36px;
          width: 6px;
          border-radius: 3px;
          background: #087039; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-grid {
          height: 36px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100% !important;
          left: 0 !important; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-grid-text {
          font-size: 32px;
          font-family: 'a_futuricabslight';
          color: #000;
          line-height: 32px;
          bottom: -40px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-line-mid, section.main .prices-block .tabslet .tab .right .pages .range .irs-line-left, section.main .prices-block .tabslet .tab .right .pages .range .irs-line-right, section.main .prices-block .tabslet .tab .right .pages .range .irs-bar, section.main .prices-block .tabslet .tab .right .pages .range .irs-bar-edge, section.main .prices-block .tabslet .tab .right .pages .range .irs-slider {
          background: #c0c0c0; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-slider {
          width: 16px;
          cursor: pointer;
          height: 52px;
          border-radius: 10px;
          background: #408b22;
          box-sizing: border-box;
          top: 50%;
          margin-left: -5px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
        section.main .prices-block .tabslet .tab .right .pages .range #style0 {
          left: 0 !important; }
        section.main .prices-block .tabslet .tab .right .pages .range #style25 {
          left: 25% !important; }
        section.main .prices-block .tabslet .tab .right .pages .range #style50 {
          left: 50% !important; }
        section.main .prices-block .tabslet .tab .right .pages .range #style75 {
          left: 75% !important; }
        section.main .prices-block .tabslet .tab .right .pages .range #style100 {
          left: 100% !important; }
        section.main .prices-block .tabslet .tab .right .pages .range #width100 {
          width: calc(100% - 6px) !important; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-single {
          display: none; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-bar-edge {
          display: none; }
        section.main .prices-block .tabslet .tab .right .pages .range .irs-bar {
          background: #408b22;
          left: 6px !important; }*/
          section.main .prices-block .tabslet .tab .right .pages .range .irs-grid-text {
          	font-size: 15px;
          	color: #000;
          	bottom: 6px;
          	-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
          }
    @media (max-width: 1170px) {
      section.main .prices-block .tabslet .tab .left {
        margin-left: 15px; }
      section.main .prices-block .tabslet .tab .right {
        padding: 0;
        width: 480px;
        margin-right: 15px; }
        section.main .prices-block .tabslet .tab .right .inner {
          padding: 0; } }
    @media (max-width: 1000px) {
      section.main .prices-block .tabslet .tab {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 15px; }
        section.main .prices-block .tabslet .tab .left {
          margin: 0 0 40px; } }
    @media (max-width: 767px) {
      section.main .prices-block .tabslet .tab .left {
        width: 450px; }
        section.main .prices-block .tabslet .tab .left .image {
          height: 293px; }
      section.main .prices-block .tabslet .tab .right {
        width: 450px; }
        section.main .prices-block .tabslet .tab .right h4 {
          margin-bottom: 20px; } }

section.main .comments {
  background: #fef7ee;
  padding-bottom: 10px; }
  section.main .comments h2 {
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
    font-family: 'a_futuricabslight';
    text-align: center;
    font-weight: normal;
    padding: 8px 0;
    margin-bottom: 25px; }
    @media (max-width: 1170px) {
      section.main .comments h2 {
        font-size: 30px; } }
  section.main .comments h3 {
    color: #86878b;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px; }
  section.main .comments .items {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.main .comments .items .item {
      width: 313px;
      margin-bottom: 30px; }
      section.main .comments .items .item .top {
        width: 100%;
        /*height: 109px;*/
        padding: 14px 17px 5px;
        box-sizing: border-box;
        background: #fbebd5;
        border-radius: 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
        margin-bottom: 20px; }
        section.main .comments .items .item .top p {
          color: #86878b;
          font-size: 17px;
          line-height: 21px;
          /*max-height: 85px;*/
          /*overflow: hidden;*/
           }
      section.main .comments .items .item .bottom {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 8px; }
        section.main .comments .items .item .bottom .image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 13px; }
          section.main .comments .items .item .bottom .image img {
            display: block;
            width: 100%;
            height: auto; }
        section.main .comments .items .item .bottom .name {
          font-size: 17px;
          color: #333333;
          font-family: 'a_futuricaregular'; }
    @media (max-width: 1000px) {
      section.main .comments .items {
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        section.main .comments .items .item {
          margin: 0 10px 30px; } }

footer {
  padding: 30px 0 8px;
  box-sizing: border-box;
  background: #9ec01b; }
  footer ul.social {   
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px; }
    footer ul.social li {
      margin: 0 20px 20px; }
      footer ul.social li a {
        color: #fff;
        font-size: 20px; }
        footer ul.social li a:hover {
          color: #000; }
  footer .copyright {
    text-align: center; }
    footer .copyright a {
      color: #fff; }
      footer .copyright a:hover {
        text-decoration: underline; }

#modal {
  display: none;
  width: 400px;
  box-sizing: border-box;
  padding: 20px; }
  #modal h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'comfortaabold';
    letter-spacing: 1px; }
  #modal input {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: 'a_futuricaregular';
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px; }
  #modal button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #b1cb45;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 auto;
    display: block; }
#modal-thanks {
	display: none;
	padding: 20px;
	font-family: 'Fira Sans';
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

@media(max-width: 767px) {
  footer ul.social {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
}

@media(max-width: 767px){
  section.main .prices-block .tabslet .horizontal li a {
    font-size: 20px;
  }
}

.order-now {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'a_futuricabslight';
  font-weight: bold;
  line-height: 40px;
  text-align: center;  
  border: 1px solid #fff;
  background: #ff8b38;
  margin-top: 20px;
}

.pos {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.order-now:hover {
  background: rgba(158, 192, 27, 1);
  -webkit-box-shadow: inset 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    inset 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         inset 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
}

.go-up, .go-down {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
  background: #9ec01b;
  border: 2px solid #fff;
  box-shadow: 0 10px 0.3em -0.1em rgba(0, 0, 6, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 42px;  
  text-shadow: 0 1px 2px #000, 0 0 10px #E0F1FF;
  opacity: 1;
  padding: 0 3px 5px 3px;  
  width: 48px;
  height: 48px; }


section.about h1, section.service h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(158, 192, 27, 0.8) url("../img/fish.png") no-repeat top left;
  font-family: 'a_futuricabslight';
  text-align: center;
  font-weight: normal;
  padding: 18px 0; }
@media (max-width: 1170px) {
  section.about h1, section.service h1 {
    font-size: 25px;
    padding: 15px 10px; } }

section.about, section.service {
  background: #fef7ee;
}

section.about .container, section.service .container {
  background: #fff;
  min-height: calc(100vh - 246px);
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px 25px;
}

section.about h3,section.service h3 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

section.about p, section.service p {
  font-size: 21px;
  color: #636364;
  margin-bottom: 20px;
}

section.contact ul li {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

section.contact ul li a {
  color: #000;
}
section.steps .container {
  padding: 0 15px 50px;
}
section.steps img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

@media(max-width: 1023px){
  section.about p, section.service p {
    font-size: 14px;
  }

  section.about h3,section.service h3,
  section.contact ul li{
    font-size: 18px;
  }
}

section.steps .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.steps .items .item {
  width: 49%;
  margin-bottom: 15px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  -moz-box-shadow:    0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  box-shadow:         0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  background: #fef7ee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 25px;
}

section.steps .image {
  position: relative;
}

section.steps .items .item .number {
  width: 58px;
  height: 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #bbd05a;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  -moz-box-shadow:    0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  box-shadow:         0px 1px 3px 0px rgba(39, 37, 37, 0.43);
  font-family: 'a_futuricaregular';
  margin-bottom: 30px;
}

section.steps .items .item h4 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: normal;
}

section.steps .items .item  p {
  font-size: 21px;
  color: #636364;
}

section.steps .items .item.step1 {
  background: #fef7ee url("../img/step1.png") no-repeat bottom right;
}
section.steps .items .item.step2 {
  background: #fef7ee url("../img/step2.png") no-repeat bottom right;
}
section.steps .items .item.step3 {
  background: #fef7ee url("../img/step3.png") no-repeat bottom right;
}
section.steps .items .item.step4 {
  background: #fef7ee url("../img/step4.png") no-repeat bottom right;
}

@media(max-width: 1170px) {
  section.steps .items {
    justify-content: space-around;
  }
}

@media(max-width: 1023px) {
  section.steps .items .item {
    width: 100%;
  }
}
